In [39]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

In [40]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [41]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [42]:
from google.colab import files
uploaded=files.upload()

Saving salesmen.csv to salesmen (1).csv

In [43]:
df=spark.read.format('csv').load('salesmen.csv',header=True)
df.show()

+-------+--------+-------+
|   Date|Salesman|Revenue|
+-------+--------+-------+
| 1/1/16|     Bob|   7172|
| 1/2/16|     Bob|   6362|
| 1/3/16|     Bob|   5982|
| 1/4/16|     Bob|   7917|
| 1/5/16|     Bob|   7837|
| 1/6/16|     Bob|   1744|
| 1/7/16|     Bob|    918|
| 1/8/16|     Bob|   9863|
| 1/9/16|     Bob|   8337|
|1/10/16|     Bob|   7543|
|1/11/16|     Bob|   1053|
|1/12/16|     Bob|   4362|
|1/13/16|     Bob|   6812|
|1/14/16|     Bob|   9047|
|1/15/16|     Bob|   3594|
|1/16/16|     Bob|   9800|
|1/17/16|     Bob|   7215|
|1/18/16|     Bob|   7744|
|1/19/16|     Bob|   9560|
|1/20/16|     Bob|   9863|
+-------+--------+-------+
only showing top 20 rows

In [44]:
import pyspark 
from pyspark.sql.functions import split
split_col = pyspark.sql.functions.split(df['Date'], '/')
df1 = df.select("Date","Salesman","Revenue", split_col.getItem(0).alias('Month'),split_col.getItem(1).alias('Day'),split_col.getItem(2).alias('Year'))   
df1.show(truncate=False)

+-------+--------+-------+-----+---+----+
|Date   |Salesman|Revenue|Month|Day|Year|
+-------+--------+-------+-----+---+----+
|1/1/16 |Bob     |7172   |1    |1  |16  |
|1/2/16 |Bob     |6362   |1    |2  |16  |
|1/3/16 |Bob     |5982   |1    |3  |16  |
|1/4/16 |Bob     |7917   |1    |4  |16  |
|1/5/16 |Bob     |7837   |1    |5  |16  |
|1/6/16 |Bob     |1744   |1    |6  |16  |
|1/7/16 |Bob     |918    |1    |7  |16  |
|1/8/16 |Bob     |9863   |1    |8  |16  |
|1/9/16 |Bob     |8337   |1    |9  |16  |
|1/10/16|Bob     |7543   |1    |10 |16  |
|1/11/16|Bob     |1053   |1    |11 |16  |
|1/12/16|Bob     |4362   |1    |12 |16  |
|1/13/16|Bob     |6812   |1    |13 |16  |
|1/14/16|Bob     |9047   |1    |14 |16  |
|1/15/16|Bob     |3594   |1    |15 |16  |
|1/16/16|Bob     |9800   |1    |16 |16  |
|1/17/16|Bob     |7215   |1    |17 |16  |
|1/18/16|Bob     |7744   |1    |18 |16  |
|1/19/16|Bob     |9560   |1    |19 |16  |
|1/20/16|Bob     |9863   |1    |20 |16  |
+-------+--------+-------+-----+---+----+
only showing top 20 rows

In [45]:
df2=df1.select('Date')
df2.show()

+-------+
|   Date|
+-------+
| 1/1/16|
| 1/2/16|
| 1/3/16|
| 1/4/16|
| 1/5/16|
| 1/6/16|
| 1/7/16|
| 1/8/16|
| 1/9/16|
|1/10/16|
|1/11/16|
|1/12/16|
|1/13/16|
|1/14/16|
|1/15/16|
|1/16/16|
|1/17/16|
|1/18/16|
|1/19/16|
|1/20/16|
+-------+
only showing top 20 rows

In [46]:
df3=df1.select('Salesman','Revenue')
df3.show()

+--------+-------+
|Salesman|Revenue|
+--------+-------+
|     Bob|   7172|
|     Bob|   6362|
|     Bob|   5982|
|     Bob|   7917|
|     Bob|   7837|
|     Bob|   1744|
|     Bob|    918|
|     Bob|   9863|
|     Bob|   8337|
|     Bob|   7543|
|     Bob|   1053|
|     Bob|   4362|
|     Bob|   6812|
|     Bob|   9047|
|     Bob|   3594|
|     Bob|   9800|
|     Bob|   7215|
|     Bob|   7744|
|     Bob|   9560|
|     Bob|   9863|
+--------+-------+
only showing top 20 rows

In [47]:
df4=df1.select('Month','Day','Year')
df4.show()

+-----+---+----+
|Month|Day|Year|
+-----+---+----+
|    1|  1|  16|
|    1|  2|  16|
|    1|  3|  16|
|    1|  4|  16|
|    1|  5|  16|
|    1|  6|  16|
|    1|  7|  16|
|    1|  8|  16|
|    1|  9|  16|
|    1| 10|  16|
|    1| 11|  16|
|    1| 12|  16|
|    1| 13|  16|
|    1| 14|  16|
|    1| 15|  16|
|    1| 16|  16|
|    1| 17|  16|
|    1| 18|  16|
|    1| 19|  16|
|    1| 20|  16|
+-----+---+----+
only showing top 20 rows

In [48]:
'''from pyspark.sql.types import StructType, StructField, IntegerType, StringType
schema=StructType([\
                  StructField("Month",IntegerType(),True),\
                  StructField("Day",IntegerType(),True),\
                  StructField("Year",IntegerType(),True)\
                   ])'''

'from pyspark.sql.types import StructType, StructField, IntegerType, StringType\nschema=StructType([                  StructField("Month",IntegerType(),True),                  StructField("Day",IntegerType(),True),                  StructField("Year",IntegerType(),True)                   ])'

In [49]:
#unioned_df = unionAll([df2, df4, df3])
#unioned_df.show()
#dataframe2 = spark.createDataFrame(df2, df4)
#dataframe2.show()
df5=df2.join(df4,df2["Date"] == df4["Month"])
df5.show()

+----+-----+---+----+
|Date|Month|Day|Year|
+----+-----+---+----+
+----+-----+---+----+

In [55]:
df6=df3.join(df5,df3['Salesman']==df5['Year'])
df6.show(10,truncate=False)                                              #doubt

+--------+-------+----+-----+---+----+
|Salesman|Revenue|Date|Month|Day|Year|
+--------+-------+----+-----+---+----+
+--------+-------+----+-----+---+----+

In [60]:
#df1.select('Revenue').distinct().orderBy('Revenue').collect()[0]['Revenue']

'1'

In [61]:
df1.agg({'Revenue': 'max'}).show()

+------------+
|max(Revenue)|
+------------+
|        9999|
+------------+

In [62]:
df1.agg({'Revenue': 'min'}).show()

+------------+
|min(Revenue)|
+------------+
|           1|
+------------+

In [63]:
df1.agg({'Revenue': 'avg'}).show()

+-----------------+
|     avg(Revenue)|
+-----------------+
|5032.541530054645|
+-----------------+

In [66]:
max_count=df1.groupBy('Revenue').count()
max_count.show()

+-------+-----+
|Revenue|count|
+-------+-----+
|   7711|    1|
|   7252|    1|
|   2136|    1|
|    675|    1|
|    467|    1|
|   4821|    1|
|   1436|    1|
|   1090|    1|
|   1572|    1|
|   8304|    1|
|   3517|    2|
|   5023|    1|
|    451|    1|
|   9830|    1|
|    944|    1|
|   8092|    1|
|   3826|    1|
|   9630|    1|
|   7743|    1|
|   7655|    1|
+-------+-----+
only showing top 20 rows

In [68]:
max_count.agg({'count': 'max'}).show()

+----------+
|max(count)|
+----------+
|         3|
+----------+

In [69]:
df1.select('Salesman').distinct().collect()

[Row(Salesman='Dave'),
 Row(Salesman='Ronald'),
 Row(Salesman='Bob'),
 Row(Salesman='Oscar'),
 Row(Salesman='Jeb')]

In [70]:
df1.select('Revenue').distinct().collect()

[Row(Revenue='7711'),
 Row(Revenue='7252'),
 Row(Revenue='2136'),
 Row(Revenue='675'),
 Row(Revenue='467'),
 Row(Revenue='4821'),
 Row(Revenue='1436'),
 Row(Revenue='1090'),
 Row(Revenue='1572'),
 Row(Revenue='8304'),
 Row(Revenue='3517'),
 Row(Revenue='5023'),
 Row(Revenue='451'),
 Row(Revenue='9830'),
 Row(Revenue='944'),
 Row(Revenue='8092'),
 Row(Revenue='3826'),
 Row(Revenue='9630'),
 Row(Revenue='7743'),
 Row(Revenue='7655'),
 Row(Revenue='1361'),
 Row(Revenue='2696'),
 Row(Revenue='7263'),
 Row(Revenue='5757'),
 Row(Revenue='7378'),
 Row(Revenue='6081'),
 Row(Revenue='7487'),
 Row(Revenue='666'),
 Row(Revenue='1953'),
 Row(Revenue='7249'),
 Row(Revenue='9196'),
 Row(Revenue='5297'),
 Row(Revenue='7'),
 Row(Revenue='6820'),
 Row(Revenue='8409'),
 Row(Revenue='4988'),
 Row(Revenue='6380'),
 Row(Revenue='1957'),
 Row(Revenue='1695'),
 Row(Revenue='5450'),
 Row(Revenue='3895'),
 Row(Revenue='7544'),
 Row(Revenue='613'),
 Row(Revenue='5048'),
 Row(Revenue='7316'),
 Row(Revenue='8502'),
 Row(Revenue='8701'),
 Row(Revenue='8744'),
 Row(Revenue='5986'),
 Row(Revenue='9417'),
 Row(Revenue='1706'),
 Row(Revenue='4672'),
 Row(Revenue='4465'),
 Row(Revenue='5434'),
 Row(Revenue='9028'),
 Row(Revenue='4417'),
 Row(Revenue='2129'),
 Row(Revenue='6605'),
 Row(Revenue='3250'),
 Row(Revenue='6883'),
 Row(Revenue='7689'),
 Row(Revenue='2392'),
 Row(Revenue='647'),
 Row(Revenue='4408'),
 Row(Revenue='2531'),
 Row(Revenue='6958'),
 Row(Revenue='5306'),
 Row(Revenue='2341'),
 Row(Revenue='4415'),
 Row(Revenue='383'),
 Row(Revenue='7953'),
 Row(Revenue='3089'),
 Row(Revenue='15'),
 Row(Revenue='1008'),
 Row(Revenue='8229'),
 Row(Revenue='2436'),
 Row(Revenue='4730'),
 Row(Revenue='3863'),
 Row(Revenue='8424'),
 Row(Revenue='5497'),
 Row(Revenue='5352'),
 Row(Revenue='1207'),
 Row(Revenue='8432'),
 Row(Revenue='3145'),
 Row(Revenue='5426'),
 Row(Revenue='3581'),
 Row(Revenue='6300'),
 Row(Revenue='4884'),
 Row(Revenue='7621'),
 Row(Revenue='5829'),
 Row(Revenue='9951'),
 Row(Revenue='3808'),
 Row(Revenue='4369'),
 Row(Revenue='9560'),
 Row(Revenue='2951'),
 Row(Revenue='3884'),
 Row(Revenue='7335'),
 Row(Revenue='1093'),
 Row(Revenue='672'),
 Row(Revenue='938'),
 Row(Revenue='5520'),
 Row(Revenue='7508'),
 Row(Revenue='3578'),
 Row(Revenue='3584'),
 Row(Revenue='8743'),
 Row(Revenue='979'),
 Row(Revenue='279'),
 Row(Revenue='1112'),
 Row(Revenue='5060'),
 Row(Revenue='7293'),
 Row(Revenue='3709'),
 Row(Revenue='8206'),
 Row(Revenue='9047'),
 Row(Revenue='5572'),
 Row(Revenue='1497'),
 Row(Revenue='4638'),
 Row(Revenue='8256'),
 Row(Revenue='1111'),
 Row(Revenue='1620'),
 Row(Revenue='29'),
 Row(Revenue='9221'),
 Row(Revenue='788'),
 Row(Revenue='2846'),
 Row(Revenue='6538'),
 Row(Revenue='1735'),
 Row(Revenue='3399'),
 Row(Revenue='3546'),
 Row(Revenue='5809'),
 Row(Revenue='8267'),
 Row(Revenue='863'),
 Row(Revenue='6851'),
 Row(Revenue='9537'),
 Row(Revenue='2896'),
 Row(Revenue='991'),
 Row(Revenue='686'),
 Row(Revenue='9319'),
 Row(Revenue='73'),
 Row(Revenue='9581'),
 Row(Revenue='2772'),
 Row(Revenue='3583'),
 Row(Revenue='8654'),
 Row(Revenue='4144'),
 Row(Revenue='3496'),
 Row(Revenue='7910'),
 Row(Revenue='5193'),
 Row(Revenue='3090'),
 Row(Revenue='64'),
 Row(Revenue='3646'),
 Row(Revenue='2349'),
 Row(Revenue='6445'),
 Row(Revenue='4817'),
 Row(Revenue='5199'),
 Row(Revenue='710'),
 Row(Revenue='6047'),
 Row(Revenue='9791'),
 Row(Revenue='8974'),
 Row(Revenue='8888'),
 Row(Revenue='7188'),
 Row(Revenue='9107'),
 Row(Revenue='3325'),
 Row(Revenue='5072'),
 Row(Revenue='1365'),
 Row(Revenue='4269'),
 Row(Revenue='113'),
 Row(Revenue='3478'),
 Row(Revenue='6125'),
 Row(Revenue='8332'),
 Row(Revenue='6319'),
 Row(Revenue='9626'),
 Row(Revenue='3532'),
 Row(Revenue='8325'),
 Row(Revenue='4808'),
 Row(Revenue='7662'),
 Row(Revenue='9229'),
 Row(Revenue='5896'),
 Row(Revenue='924'),
 Row(Revenue='2578'),
 Row(Revenue='2085'),
 Row(Revenue='1758'),
 Row(Revenue='7343'),
 Row(Revenue='2739'),
 Row(Revenue='2252'),
 Row(Revenue='878'),
 Row(Revenue='8194'),
 Row(Revenue='3058'),
 Row(Revenue='9455'),
 Row(Revenue='7879'),
 Row(Revenue='1477'),
 Row(Revenue='4264'),
 Row(Revenue='4200'),
 Row(Revenue='3642'),
 Row(Revenue='8735'),
 Row(Revenue='8196'),
 Row(Revenue='2329'),
 Row(Revenue='2842'),
 Row(Revenue='5637'),
 Row(Revenue='7739'),
 Row(Revenue='4278'),
 Row(Revenue='1678'),
 Row(Revenue='9104'),
 Row(Revenue='2281'),
 Row(Revenue='7377'),
 Row(Revenue='903'),
 Row(Revenue='7906'),
 Row(Revenue='162'),
 Row(Revenue='3162'),
 Row(Revenue='2164'),
 Row(Revenue='3060'),
 Row(Revenue='4951'),
 Row(Revenue='6046'),
 Row(Revenue='5621'),
 Row(Revenue='2156'),
 Row(Revenue='9076'),
 Row(Revenue='4814'),
 Row(Revenue='9425'),
 Row(Revenue='7215'),
 Row(Revenue='8431'),
 Row(Revenue='2019'),
 Row(Revenue='8462'),
 Row(Revenue='7207'),
 Row(Revenue='5553'),
 Row(Revenue='1882'),
 Row(Revenue='7540'),
 Row(Revenue='160'),
 Row(Revenue='3429'),
 Row(Revenue='1296'),
 Row(Revenue='8284'),
 Row(Revenue='9550'),
 Row(Revenue='3447'),
 Row(Revenue='2561'),
 Row(Revenue='1407'),
 Row(Revenue='2211'),
 Row(Revenue='8446'),
 Row(Revenue='2882'),
 Row(Revenue='4020'),
 Row(Revenue='4896'),
 Row(Revenue='2816'),
 Row(Revenue='1971'),
 Row(Revenue='6374'),
 Row(Revenue='5421'),
 Row(Revenue='5346'),
 Row(Revenue='4271'),
 Row(Revenue='6101'),
 Row(Revenue='5326'),
 Row(Revenue='8584'),
 Row(Revenue='6753'),
 Row(Revenue='1054'),
 Row(Revenue='258'),
 Row(Revenue='3449'),
 Row(Revenue='5874'),
 Row(Revenue='4080'),
 Row(Revenue='5941'),
 Row(Revenue='8514'),
 Row(Revenue='1482'),
 Row(Revenue='4565'),
 Row(Revenue='8246'),
 Row(Revenue='9134'),
 Row(Revenue='2496'),
 Row(Revenue='22'),
 Row(Revenue='1651'),
 Row(Revenue='423'),
 Row(Revenue='636'),
 Row(Revenue='2570'),
 Row(Revenue='1794'),
 Row(Revenue='3405'),
 Row(Revenue='2630'),
 Row(Revenue='5437'),
 Row(Revenue='8389'),
 Row(Revenue='7827'),
 Row(Revenue='5105'),
 Row(Revenue='3358'),
 Row(Revenue='3402'),
 Row(Revenue='4362'),
 Row(Revenue='2967'),
 Row(Revenue='6182'),
 Row(Revenue='663'),
 Row(Revenue='6823'),
 Row(Revenue='5773'),
 Row(Revenue='556'),
 Row(Revenue='2903'),
 Row(Revenue='7490'),
 Row(Revenue='9274'),
 Row(Revenue='85'),
 Row(Revenue='3137'),
 Row(Revenue='52'),
 Row(Revenue='1711'),
 Row(Revenue='6886'),
 Row(Revenue='1565'),
 Row(Revenue='4365'),
 Row(Revenue='1143'),
 Row(Revenue='7222'),
 Row(Revenue='4835'),
 Row(Revenue='9478'),
 Row(Revenue='5696'),
 Row(Revenue='7985'),
 Row(Revenue='4748'),
 Row(Revenue='6899'),
 Row(Revenue='8592'),
 Row(Revenue='2263'),
 Row(Revenue='441'),
 Row(Revenue='7676'),
 Row(Revenue='7778'),
 Row(Revenue='5130'),
 Row(Revenue='8835'),
 Row(Revenue='4430'),
 Row(Revenue='8290'),
 Row(Revenue='5600'),
 Row(Revenue='9843'),
 Row(Revenue='4392'),
 Row(Revenue='3691'),
 Row(Revenue='2703'),
 Row(Revenue='1877'),
 Row(Revenue='2403'),
 Row(Revenue='3300'),
 Row(Revenue='9549'),
 Row(Revenue='5053'),
 Row(Revenue='8918'),
 Row(Revenue='4317'),
 Row(Revenue='2793'),
 Row(Revenue='1416'),
 Row(Revenue='6159'),
 Row(Revenue='7775'),
 Row(Revenue='4073'),
 Row(Revenue='9926'),
 Row(Revenue='2709'),
 Row(Revenue='7284'),
 Row(Revenue='1340'),
 Row(Revenue='8777'),
 Row(Revenue='7021'),
 Row(Revenue='8710'),
 Row(Revenue='6544'),
 Row(Revenue='4829'),
 Row(Revenue='2253'),
 Row(Revenue='8767'),
 Row(Revenue='5482'),
 Row(Revenue='568'),
 Row(Revenue='697'),
 Row(Revenue='3670'),
 Row(Revenue='7212'),
 Row(Revenue='7401'),
 Row(Revenue='3947'),
 Row(Revenue='3248'),
 Row(Revenue='1185'),
 Row(Revenue='6745'),
 Row(Revenue='110'),
 Row(Revenue='726'),
 Row(Revenue='554'),
 Row(Revenue='2795'),
 Row(Revenue='4702'),
 Row(Revenue='9866'),
 Row(Revenue='6956'),
 Row(Revenue='4389'),
 Row(Revenue='6812'),
 Row(Revenue='7155'),
 Row(Revenue='6468'),
 Row(Revenue='785'),
 Row(Revenue='3976'),
 Row(Revenue='3622'),
 Row(Revenue='4570'),
 Row(Revenue='3672'),
 Row(Revenue='4667'),
 Row(Revenue='5457'),
 Row(Revenue='9577'),
 Row(Revenue='1010'),
 Row(Revenue='4258'),
 Row(Revenue='4204'),
 Row(Revenue='4723'),
 Row(Revenue='1866'),
 Row(Revenue='4360'),
 Row(Revenue='7069'),
 Row(Revenue='5256'),
 Row(Revenue='8161'),
 Row(Revenue='6917'),
 Row(Revenue='1641'),
 Row(Revenue='2877'),
 Row(Revenue='8428'),
 Row(Revenue='1909'),
 Row(Revenue='6577'),
 Row(Revenue='7415'),
 Row(Revenue='4646'),
 Row(Revenue='9397'),
 Row(Revenue='267'),
 Row(Revenue='3909'),
 Row(Revenue='9636'),
 Row(Revenue='5894'),
 Row(Revenue='8059'),
 Row(Revenue='4843'),
 Row(Revenue='4397'),
 Row(Revenue='9152'),
 Row(Revenue='5350'),
 Row(Revenue='6139'),
 Row(Revenue='3283'),
 Row(Revenue='6670'),
 Row(Revenue='4245'),
 Row(Revenue='8591'),
 Row(Revenue='96'),
 Row(Revenue='825'),
 Row(Revenue='484'),
 Row(Revenue='3707'),
 Row(Revenue='327'),
 Row(Revenue='5734'),
 Row(Revenue='9720'),
 Row(Revenue='4255'),
 Row(Revenue='8661'),
 Row(Revenue='221'),
 Row(Revenue='7926'),
 Row(Revenue='1071'),
 Row(Revenue='4013'),
 Row(Revenue='8837'),
 Row(Revenue='43'),
 Row(Revenue='5788'),
 Row(Revenue='7606'),
 Row(Revenue='7217'),
 Row(Revenue='5376'),
 Row(Revenue='8408'),
 Row(Revenue='9421'),
 Row(Revenue='2479'),
 Row(Revenue='9072'),
 Row(Revenue='5261'),
 Row(Revenue='3068'),
 Row(Revenue='3296'),
 Row(Revenue='9842'),
 Row(Revenue='1592'),
 Row(Revenue='4547'),
 Row(Revenue='3196'),
 Row(Revenue='6151'),
 Row(Revenue='2174'),
 Row(Revenue='9868'),
 Row(Revenue='5692'),
 Row(Revenue='6213'),
 Row(Revenue='815'),
 Row(Revenue='7376'),
 Row(Revenue='5183'),
 Row(Revenue='9474'),
 Row(Revenue='1022'),
 Row(Revenue='9086'),
 Row(Revenue='100'),
 Row(Revenue='4615'),
 Row(Revenue='9089'),
 Row(Revenue='2351'),
 Row(Revenue='6448'),
 Row(Revenue='3285'),
 Row(Revenue='9288'),
 Row(Revenue='1749'),
 Row(Revenue='8922'),
 Row(Revenue='8674'),
 Row(Revenue='6025'),
 Row(Revenue='1254'),
 Row(Revenue='1616'),
 Row(Revenue='2437'),
 Row(Revenue='7782'),
 Row(Revenue='5624'),
 Row(Revenue='3309'),
 Row(Revenue='8642'),
 Row(Revenue='359'),
 Row(Revenue='8041'),
 Row(Revenue='481'),
 Row(Revenue='4431'),
 Row(Revenue='3114'),
 Row(Revenue='6916'),
 Row(Revenue='8747'),
 Row(Revenue='3338'),
 Row(Revenue='4796'),
 Row(Revenue='9245'),
 Row(Revenue='733'),
 Row(Revenue='8216'),
 Row(Revenue='6461'),
 Row(Revenue='5969'),
 Row(Revenue='8530'),
 Row(Revenue='3955'),
 Row(Revenue='6160'),
 Row(Revenue='4557'),
 Row(Revenue='2798'),
 Row(Revenue='2300'),
 Row(Revenue='9797'),
 Row(Revenue='2734'),
 Row(Revenue='2612'),
 Row(Revenue='1509'),
 Row(Revenue='4201'),
 Row(Revenue='4971'),
 Row(Revenue='9736'),
 Row(Revenue='9428'),
 Row(Revenue='453'),
 Row(Revenue='4458'),
 Row(Revenue='9181'),
 Row(Revenue='7723'),
 Row(Revenue='5010'),
 Row(Revenue='3092'),
 Row(Revenue='5912'),
 Row(Revenue='4590'),
 Row(Revenue='9188'),
 Row(Revenue='364'),
 Row(Revenue='5399'),
 Row(Revenue='218'),
 Row(Revenue='3052'),
 Row(Revenue='658'),
 Row(Revenue='3333'),
 Row(Revenue='496'),
 Row(Revenue='8702'),
 Row(Revenue='5614'),
 Row(Revenue='2359'),
 Row(Revenue='6500'),
 Row(Revenue='9847'),
 Row(Revenue='7268'),
 Row(Revenue='1798'),
 Row(Revenue='9486'),
 Row(Revenue='5776'),
 Row(Revenue='449'),
 Row(Revenue='9489'),
 Row(Revenue='9689'),
 Row(Revenue='9187'),
 Row(Revenue='667'),
 Row(Revenue='1275'),
 Row(Revenue='4158'),
 Row(Revenue='5063'),
 Row(Revenue='3712'),
 Row(Revenue='4021'),
 Row(Revenue='3980'),
 Row(Revenue='5243'),
 Row(Revenue='8885'),
 Row(Revenue='8125'),
 Row(Revenue='8391'),
 Row(Revenue='6425'),
 Row(Revenue='5351'),
 Row(Revenue='7045'),
 Row(Revenue='9800'),
 Row(Revenue='9576'),
 Row(Revenue='2981'),
 Row(Revenue='131'),
 Row(Revenue='1772'),
 Row(Revenue='3437'),
 Row(Revenue='1433'),
 Row(Revenue='4273'),
 Row(Revenue='5230'),
 Row(Revenue='4404'),
 Row(Revenue='7251'),
 Row(Revenue='9825'),
 Row(Revenue='7593'),
 Row(Revenue='2802'),
 Row(Revenue='8358'),
 Row(Revenue='9079'),
 Row(Revenue='1769'),
 Row(Revenue='2794'),
 Row(Revenue='3864'),
 Row(Revenue='9023'),
 Row(Revenue='1860'),
 Row(Revenue='7051'),
 Row(Revenue='876'),
 Row(Revenue='2221'),
 Row(Revenue='1064'),
 Row(Revenue='2875'),
 Row(Revenue='4670'),
 Row(Revenue='3997'),
 Row(Revenue='4053'),
 Row(Revenue='5919'),
 Row(Revenue='7028'),
 Row(Revenue='9902'),
 Row(Revenue='5467'),
 Row(Revenue='3923'),
 Row(Revenue='1905'),
 Row(Revenue='2537'),
 Row(Revenue='7755'),
 Row(Revenue='8570'),
 Row(Revenue='6378'),
 Row(Revenue='1144'),
 Row(Revenue='6853'),
 Row(Revenue='3987'),
 Row(Revenue='8136'),
 Row(Revenue='842'),
 Row(Revenue='2342'),
 Row(Revenue='835'),
 Row(Revenue='7769'),
 Row(Revenue='9527'),
 Row(Revenue='5068'),
 Row(Revenue='1053'),
 Row(Revenue='8429'),
 Row(Revenue='9739'),
 Row(Revenue='1689'),
 Row(Revenue='3868'),
 Row(Revenue='6321'),
 Row(Revenue='1786'),
 Row(Revenue='3518'),
 Row(Revenue='374'),
 Row(Revenue='8031'),
 Row(Revenue='7834'),
 Row(Revenue='5956'),
 Row(Revenue='1854'),
 Row(Revenue='8719'),
 Row(Revenue='1040'),
 Row(Revenue='1884'),
 Row(Revenue='3566'),
 Row(Revenue='4992'),
 Row(Revenue='8631'),
 Row(Revenue='9509'),
 Row(Revenue='5593'),
 Row(Revenue='5427'),
 Row(Revenue='207'),
 Row(Revenue='1243'),
 Row(Revenue='7289'),
 Row(Revenue='2335'),
 Row(Revenue='6852'),
 Row(Revenue='9325'),
 Row(Revenue='8003'),
 Row(Revenue='4286'),
 Row(Revenue='2611'),
 Row(Revenue='7327'),
 Row(Revenue='2242'),
 Row(Revenue='7385'),
 Row(Revenue='1404'),
 Row(Revenue='2191'),
 Row(Revenue='1134'),
 Row(Revenue='4109'),
 Row(Revenue='5289'),
 Row(Revenue='228'),
 Row(Revenue='4498'),
 Row(Revenue='7533'),
 Row(Revenue='7324'),
 Row(Revenue='3020'),
 Row(Revenue='6666'),
 Row(Revenue='136'),
 Row(Revenue='5049'),
 Row(Revenue='198'),
 Row(Revenue='4567'),
 Row(Revenue='8464'),
 Row(Revenue='5251'),
 Row(Revenue='620'),
 Row(Revenue='4436'),
 Row(Revenue='257'),
 Row(Revenue='4226'),
 Row(Revenue='6393'),
 Row(Revenue='9677'),
 Row(Revenue='7496'),
 Row(Revenue='5250'),
 Row(Revenue='7741'),
 Row(Revenue='3010'),
 Row(Revenue='517'),
 Row(Revenue='6954'),
 Row(Revenue='3159'),
 Row(Revenue='7641'),
 Row(Revenue='4336'),
 Row(Revenue='2453'),
 Row(Revenue='5835'),
 Row(Revenue='1698'),
 Row(Revenue='2695'),
 Row(Revenue='5563'),
 Row(Revenue='3183'),
 Row(Revenue='341'),
 Row(Revenue='7916'),
 Row(Revenue='5396'),
 Row(Revenue='7753'),
 Row(Revenue='2165'),
 Row(Revenue='2843'),
 Row(Revenue='4113'),
 Row(Revenue='4599'),
 Row(Revenue='6070'),
 Row(Revenue='3460'),
 Row(Revenue='2178'),
 Row(Revenue='1490'),
 Row(Revenue='6206'),
 Row(Revenue='4187'),
 Row(Revenue='329'),
 Row(Revenue='4970'),
 Row(Revenue='7690'),
 Row(Revenue='5512'),
 Row(Revenue='256'),
 Row(Revenue='6086'),
 Row(Revenue='1408'),
 Row(Revenue='8503'),
 Row(Revenue='2599'),
 Row(Revenue='537'),
 Row(Revenue='3366'),
 Row(Revenue='3579'),
 Row(Revenue='6185'),
 Row(Revenue='9991'),
 Row(Revenue='7345'),
 Row(Revenue='967'),
 Row(Revenue='6481'),
 Row(Revenue='9639'),
 Row(Revenue='7578'),
 Row(Revenue='6611'),
 Row(Revenue='2494'),
 Row(Revenue='1378'),
 Row(Revenue='4307'),
 Row(Revenue='5318'),
 Row(Revenue='3910'),
 Row(Revenue='9172'),
 Row(Revenue='4075'),
 Row(Revenue='6959'),
 Row(Revenue='2470'),
 Row(Revenue='229'),
 Row(Revenue='413'),
 Row(Revenue='6756'),
 Row(Revenue='702'),
 Row(Revenue='978'),
 Row(Revenue='5264'),
 Row(Revenue='2213'),
 Row(Revenue='90'),
 Row(Revenue='3963'),
 Row(Revenue='3330'),
 Row(Revenue='3608'),
 Row(Revenue='7147'),
 Row(Revenue='3540'),
 Row(Revenue='9313'),
 Row(Revenue='8858'),
 Row(Revenue='6982'),
 Row(Revenue='2956'),
 Row(Revenue='5265'),
 Row(Revenue='194'),
 Row(Revenue='7695'),
 Row(Revenue='2498'),
 Row(Revenue='3278'),
 Row(Revenue='2449'),
 Row(Revenue='418'),
 Row(Revenue='9434'),
 Row(Revenue='1113'),
 Row(Revenue='7932'),
 Row(Revenue='4842'),
 Row(Revenue='7582'),
 Row(Revenue='1434'),
 Row(Revenue='3917'),
 Row(Revenue='1331'),
 Row(Revenue='1922'),
 Row(Revenue='8953'),
 Row(Revenue='8713'),
 Row(Revenue='4551'),
 Row(Revenue='2049'),
 Row(Revenue='2051'),
 Row(Revenue='9490'),
 Row(Revenue='4779'),
 Row(Revenue='8321'),
 Row(Revenue='5989'),
 Row(Revenue='41'),
 Row(Revenue='3828'),
 Row(Revenue='4981'),
 Row(Revenue='280'),
 Row(Revenue='6126'),
 Row(Revenue='9536'),
 Row(Revenue='6355'),
 Row(Revenue='6794'),
 Row(Revenue='6050'),
 Row(Revenue='1210'),
 Row(Revenue='9599'),
 Row(Revenue='2287'),
 Row(Revenue='9539'),
 Row(Revenue='3945'),
 Row(Revenue='1924'),
 Row(Revenue='4596'),
 Row(Revenue='2519'),
 Row(Revenue='9145'),
 Row(Revenue='9874'),
 Row(Revenue='474'),
 Row(Revenue='8733'),
 Row(Revenue='6239'),
 Row(Revenue='4349'),
 Row(Revenue='2869'),
 Row(Revenue='5709'),
 Row(Revenue='9018'),
 Row(Revenue='9939'),
 Row(Revenue='2682'),
 Row(Revenue='6465'),
 Row(Revenue='1422'),
 Row(Revenue='6837'),
 Row(Revenue='4763'),
 Row(Revenue='4780'),
 Row(Revenue='7627'),
 Row(Revenue='4115'),
 Row(Revenue='4788'),
 Row(Revenue='7462'),
 Row(Revenue='6114'),
 Row(Revenue='6129'),
 Row(Revenue='8278'),
 Row(Revenue='2080'),
 Row(Revenue='1989'),
 Row(Revenue='8813'),
 Row(Revenue='5055'),
 Row(Revenue='7395'),
 Row(Revenue='9597'),
 Row(Revenue='5172'),
 Row(Revenue='7475'),
 Row(Revenue='1069'),
 Row(Revenue='7697'),
 Row(Revenue='9197'),
 Row(Revenue='7855'),
 Row(Revenue='1148'),
 Row(Revenue='606'),
 Row(Revenue='4450'),
 Row(Revenue='1149'),
 Row(Revenue='545'),
 Row(Revenue='5762'),
 Row(Revenue='891'),
 Row(Revenue='4933'),
 Row(Revenue='9821'),
 Row(Revenue='7663'),
 Row(Revenue='2728'),
 Row(Revenue='1961'),
 Row(Revenue='4327'),
 Row(Revenue='3082'),
 Row(Revenue='7825'),
 Row(Revenue='6446'),
 Row(Revenue='2160'),
 Row(Revenue='6476'),
 Row(Revenue='8268'),
 Row(Revenue='4394'),
 Row(Revenue='3655'),
 Row(Revenue='7901'),
 Row(Revenue='1571'),
 Row(Revenue='93'),
 Row(Revenue='1027'),
 Row(Revenue='8573'),
 Row(Revenue='6688'),
 Row(Revenue='7253'),
 Row(Revenue='2820'),
 Row(Revenue='5276'),
 Row(Revenue='6647'),
 Row(Revenue='1852'),
 Row(Revenue='4745'),
 Row(Revenue='982'),
 Row(Revenue='5589'),
 Row(Revenue='2507'),
 Row(Revenue='1231'),
 Row(Revenue='9912'),
 Row(Revenue='3079'),
 Row(Revenue='6354'),
 Row(Revenue='9098'),
 Row(Revenue='4427'),
 Row(Revenue='38'),
 Row(Revenue='8934'),
 Row(Revenue='9146'),
 Row(Revenue='103'),
 Row(Revenue='2435'),
 Row(Revenue='2328'),
 Row(Revenue='7771'),
 Row(Revenue='5914'),
 Row(Revenue='7142'),
 Row(Revenue='4622'),
 Row(Revenue='6578'),
 Row(Revenue='5940'),
 Row(Revenue='506'),
 Row(Revenue='8143'),
 Row(Revenue='373'),
 Row(Revenue='2867'),
 Row(Revenue='9557'),
 Row(Revenue='6026'),
 Row(Revenue='914'),
 Row(Revenue='5043'),
 Row(Revenue='3498'),
 Row(Revenue='1315'),
 Row(Revenue='7917'),
 Row(Revenue='8405'),
 Row(Revenue='8545'),
 Row(Revenue='5737'),
 Row(Revenue='3497'),
 Row(Revenue='189'),
 Row(Revenue='9414'),
 Row(Revenue='3144'),
 Row(Revenue='4203'),
 Row(Revenue='233'),
 Row(Revenue='1028'),
 Row(Revenue='879'),
 Row(Revenue='6549'),
 Row(Revenue='5255'),
 Row(Revenue='2245'),
 Row(Revenue='4491'),
 Row(Revenue='6659'),
 Row(Revenue='3322'),
 Row(Revenue='7599'),
 Row(Revenue='2370'),
 Row(Revenue='6175'),
 Row(Revenue='3861'),
 Row(Revenue='135'),
 Row(Revenue='7524'),
 Row(Revenue='9737'),
 Row(Revenue='303'),
 Row(Revenue='5920'),
 Row(Revenue='3756'),
 Row(Revenue='4920'),
 Row(Revenue='6318'),
 Row(Revenue='8909'),
 Row(Revenue='8597'),
 Row(Revenue='9436'),
 Row(Revenue='4824'),
 Row(Revenue='3375'),
 Row(Revenue='5807'),
 Row(Revenue='7073'),
 Row(Revenue='7661'),
 Row(Revenue='6429'),
 Row(Revenue='6847'),
 Row(Revenue='4559'),
 Row(Revenue='7864'),
 Row(Revenue='6978'),
 Row(Revenue='7183'),
 Row(Revenue='4483'),
 Row(Revenue='2215'),
 Row(Revenue='3471'),
 Row(Revenue='8638'),
 Row(Revenue='7585'),
 Row(Revenue='8473'),
 Row(Revenue='3520'),
 Row(Revenue='5294'),
 Row(Revenue='2619'),
 Row(Revenue='2223'),
 Row(Revenue='9723'),
 Row(Revenue='755'),
 Row(Revenue='9897'),
 Row(Revenue='7262'),
 Row(Revenue='5224'),
 Row(Revenue='3961'),
 Row(Revenue='1504'),
 Row(Revenue='3530'),
 Row(Revenue='4554'),
 Row(Revenue='9427'),
 Row(Revenue='6172'),
 Row(Revenue='965'),
 Row(Revenue='9418'),

In [72]:
#df1.sort(col("Reveune").asc()).show(truncate=False)
df1.sort(df1.Revenue.asc()).show(truncate=False)

+--------+--------+-------+-----+---+----+
|Date    |Salesman|Revenue|Month|Day|Year|
+--------+--------+-------+-----+---+----+
|5/3/16  |Ronald  |1      |5    |3  |16  |
|7/31/16 |Oscar   |100    |7    |31 |16  |
|12/28/16|Bob     |100    |12   |28 |16  |
|8/10/16 |Oscar   |1008   |8    |10 |16  |
|1/26/16 |Jeb     |1009   |1    |26 |16  |
|12/7/16 |Bob     |1010   |12   |7  |16  |
|12/18/16|Oscar   |1022   |12   |18 |16  |
|5/20/16 |Dave    |1027   |5    |20 |16  |
|8/3/16  |Dave    |1028   |8    |3  |16  |
|6/28/16 |Oscar   |103    |6    |28 |16  |
|10/25/16|Oscar   |1037   |10   |25 |16  |
|4/25/16 |Jeb     |1040   |4    |25 |16  |
|9/15/16 |Oscar   |1042   |9    |15 |16  |
|1/11/16 |Bob     |1053   |1    |11 |16  |
|10/8/16 |Oscar   |1054   |10   |8  |16  |
|9/22/16 |Dave    |1064   |9    |22 |16  |
|4/7/16  |Dave    |1069   |4    |7  |16  |
|9/20/16 |Bob     |1071   |9    |20 |16  |
|8/26/16 |Jeb     |1090   |8    |26 |16  |
|9/4/16  |Ronald  |1093   |9    |4  |16  |
+--------+--------+-------+-----+---+----+
only showing top 20 rows

In [73]:
#
df1.sort(df1.Revenue.desc()).show(truncate=False)

+-------+--------+-------+-----+---+----+
|Date   |Salesman|Revenue|Month|Day|Year|
+-------+--------+-------+-----+---+----+
|3/30/16|Bob     |9999   |3    |30 |16  |
|5/15/16|Ronald  |9991   |5    |15 |16  |
|7/2/16 |Oscar   |9971   |7    |2  |16  |
|12/8/16|Ronald  |9951   |12   |8  |16  |
|6/14/16|Bob     |9945   |6    |14 |16  |
|8/12/16|Jeb     |9939   |8    |12 |16  |
|2/9/16 |Dave    |9939   |2    |9  |16  |
|7/25/16|Bob     |9934   |7    |25 |16  |
|6/14/16|Oscar   |9926   |6    |14 |16  |
|9/5/16 |Bob     |992    |9    |5  |16  |
|5/12/16|Ronald  |9912   |5    |12 |16  |
|6/2/16 |Oscar   |991    |6    |2  |16  |
|5/28/16|Ronald  |9902   |5    |28 |16  |
|3/24/16|Oscar   |9901   |3    |24 |16  |
|4/22/16|Bob     |9897   |4    |22 |16  |
|8/13/16|Ronald  |9896   |8    |13 |16  |
|1/15/16|Dave    |9883   |1    |15 |16  |
|3/13/16|Dave    |9874   |3    |13 |16  |
|9/15/16|Bob     |9868   |9    |15 |16  |
|5/28/16|Jeb     |9866   |5    |28 |16  |
+-------+--------+-------+-----+---+----+
only showing top 20 rows

In [74]:
#only Bob
df1.filter(df1.Salesman == "Bob").show(truncate=False)

+-------+--------+-------+-----+---+----+
|Date   |Salesman|Revenue|Month|Day|Year|
+-------+--------+-------+-----+---+----+
|1/1/16 |Bob     |7172   |1    |1  |16  |
|1/2/16 |Bob     |6362   |1    |2  |16  |
|1/3/16 |Bob     |5982   |1    |3  |16  |
|1/4/16 |Bob     |7917   |1    |4  |16  |
|1/5/16 |Bob     |7837   |1    |5  |16  |
|1/6/16 |Bob     |1744   |1    |6  |16  |
|1/7/16 |Bob     |918    |1    |7  |16  |
|1/8/16 |Bob     |9863   |1    |8  |16  |
|1/9/16 |Bob     |8337   |1    |9  |16  |
|1/10/16|Bob     |7543   |1    |10 |16  |
|1/11/16|Bob     |1053   |1    |11 |16  |
|1/12/16|Bob     |4362   |1    |12 |16  |
|1/13/16|Bob     |6812   |1    |13 |16  |
|1/14/16|Bob     |9047   |1    |14 |16  |
|1/15/16|Bob     |3594   |1    |15 |16  |
|1/16/16|Bob     |9800   |1    |16 |16  |
|1/17/16|Bob     |7215   |1    |17 |16  |
|1/18/16|Bob     |7744   |1    |18 |16  |
|1/19/16|Bob     |9560   |1    |19 |16  |
|1/20/16|Bob     |9863   |1    |20 |16  |
+-------+--------+-------+-----+---+----+
only showing top 20 rows

In [75]:
#only day 20
df1.filter("Day == '20'").show()

+--------+--------+-------+-----+---+----+
|    Date|Salesman|Revenue|Month|Day|Year|
+--------+--------+-------+-----+---+----+
| 1/20/16|     Bob|   9863|    1| 20|  16|
| 2/20/16|     Bob|    942|    2| 20|  16|
| 3/20/16|     Bob|   4780|    3| 20|  16|
| 4/20/16|     Bob|   6429|    4| 20|  16|
| 5/20/16|     Bob|   4707|    5| 20|  16|
| 6/20/16|     Bob|    590|    6| 20|  16|
| 7/20/16|     Bob|   4498|    7| 20|  16|
| 8/20/16|     Bob|   5124|    8| 20|  16|
| 9/20/16|     Bob|   1071|    9| 20|  16|
|10/20/16|     Bob|   7883|   10| 20|  16|
|11/20/16|     Bob|   1626|   11| 20|  16|
|12/20/16|     Bob|   3864|   12| 20|  16|
| 1/20/16|  Ronald|   9352|    1| 20|  16|
| 2/20/16|  Ronald|   5455|    2| 20|  16|
| 3/20/16|  Ronald|   5941|    3| 20|  16|
| 4/20/16|  Ronald|   8514|    4| 20|  16|
| 5/20/16|  Ronald|   4204|    5| 20|  16|
| 6/20/16|  Ronald|   1571|    6| 20|  16|
| 7/20/16|  Ronald|   3309|    7| 20|  16|
| 8/20/16|  Ronald|    160|    8| 20|  16|
+--------+--------+-------+-----+---+----+
only showing top 20 rows

In [76]:
#distinct year if any
df1.select('Year').distinct().collect()

[Row(Year='16')]

In [78]:
#rename one column
df1.withColumnRenamed("Month","Start_Month").show(50)

+-------+--------+-------+-----------+---+----+
|   Date|Salesman|Revenue|Start_Month|Day|Year|
+-------+--------+-------+-----------+---+----+
| 1/1/16|     Bob|   7172|          1|  1|  16|
| 1/2/16|     Bob|   6362|          1|  2|  16|
| 1/3/16|     Bob|   5982|          1|  3|  16|
| 1/4/16|     Bob|   7917|          1|  4|  16|
| 1/5/16|     Bob|   7837|          1|  5|  16|
| 1/6/16|     Bob|   1744|          1|  6|  16|
| 1/7/16|     Bob|    918|          1|  7|  16|
| 1/8/16|     Bob|   9863|          1|  8|  16|
| 1/9/16|     Bob|   8337|          1|  9|  16|
|1/10/16|     Bob|   7543|          1| 10|  16|
|1/11/16|     Bob|   1053|          1| 11|  16|
|1/12/16|     Bob|   4362|          1| 12|  16|
|1/13/16|     Bob|   6812|          1| 13|  16|
|1/14/16|     Bob|   9047|          1| 14|  16|
|1/15/16|     Bob|   3594|          1| 15|  16|
|1/16/16|     Bob|   9800|          1| 16|  16|
|1/17/16|     Bob|   7215|          1| 17|  16|
|1/18/16|     Bob|   7744|          1| 18|  16|
|1/19/16|     Bob|   9560|          1| 19|  16|
|1/20/16|     Bob|   9863|          1| 20|  16|
|1/21/16|     Bob|    547|          1| 21|  16|
|1/22/16|     Bob|   3505|          1| 22|  16|
|1/23/16|     Bob|   6969|          1| 23|  16|
|1/24/16|     Bob|    696|          1| 24|  16|
|1/25/16|     Bob|   4302|          1| 25|  16|
|1/26/16|     Bob|   9427|          1| 26|  16|
|1/27/16|     Bob|   7990|          1| 27|  16|
|1/28/16|     Bob|   6271|          1| 28|  16|
|1/29/16|     Bob|   5804|          1| 29|  16|
|1/30/16|     Bob|   3285|          1| 30|  16|
|1/31/16|     Bob|   2920|          1| 31|  16|
| 2/1/16|     Bob|   6151|          2|  1|  16|
| 2/2/16|     Bob|   3696|          2|  2|  16|
| 2/3/16|     Bob|   2507|          2|  3|  16|
| 2/4/16|     Bob|   1361|          2|  4|  16|
| 2/5/16|     Bob|   8431|          2|  5|  16|
| 2/6/16|     Bob|   3250|          2|  6|  16|
| 2/7/16|     Bob|   2470|          2|  7|  16|
| 2/8/16|     Bob|   4499|          2|  8|  16|
| 2/9/16|     Bob|   5426|          2|  9|  16|
|2/10/16|     Bob|    136|          2| 10|  16|
|2/11/16|     Bob|   7769|          2| 11|  16|
|2/12/16|     Bob|   8473|          2| 12|  16|
|2/13/16|     Bob|   7430|          2| 13|  16|
|2/14/16|     Bob|   7739|          2| 14|  16|
|2/15/16|     Bob|    641|          2| 15|  16|
|2/16/16|     Bob|   1225|          2| 16|  16|
|2/17/16|     Bob|   8143|          2| 17|  16|
|2/18/16|     Bob|   3963|          2| 18|  16|
|2/19/16|     Bob|   4278|          2| 19|  16|
+-------+--------+-------+-----------+---+----+
only showing top 50 rows

In [80]:
#rename multiple column
df1.withColumnRenamed("Day","Start_Day").withColumnRenamed("Year","Start_Year").show()

+-------+--------+-------+-----+---------+----------+
|   Date|Salesman|Revenue|Month|Start_Day|Start_Year|
+-------+--------+-------+-----+---------+----------+
| 1/1/16|     Bob|   7172|    1|        1|        16|
| 1/2/16|     Bob|   6362|    1|        2|        16|
| 1/3/16|     Bob|   5982|    1|        3|        16|
| 1/4/16|     Bob|   7917|    1|        4|        16|
| 1/5/16|     Bob|   7837|    1|        5|        16|
| 1/6/16|     Bob|   1744|    1|        6|        16|
| 1/7/16|     Bob|    918|    1|        7|        16|
| 1/8/16|     Bob|   9863|    1|        8|        16|
| 1/9/16|     Bob|   8337|    1|        9|        16|
|1/10/16|     Bob|   7543|    1|       10|        16|
|1/11/16|     Bob|   1053|    1|       11|        16|
|1/12/16|     Bob|   4362|    1|       12|        16|
|1/13/16|     Bob|   6812|    1|       13|        16|
|1/14/16|     Bob|   9047|    1|       14|        16|
|1/15/16|     Bob|   3594|    1|       15|        16|
|1/16/16|     Bob|   9800|    1|       16|        16|
|1/17/16|     Bob|   7215|    1|       17|        16|
|1/18/16|     Bob|   7744|    1|       18|        16|
|1/19/16|     Bob|   9560|    1|       19|        16|
|1/20/16|     Bob|   9863|    1|       20|        16|
+-------+--------+-------+-----+---------+----------+
only showing top 20 rows

In [81]:
#update column (multiply)
df1.withColumn("Revenue", df.Revenue*2).show()

+-------+--------+-------+-----+---+----+
|   Date|Salesman|Revenue|Month|Day|Year|
+-------+--------+-------+-----+---+----+
| 1/1/16|     Bob|14344.0|    1|  1|  16|
| 1/2/16|     Bob|12724.0|    1|  2|  16|
| 1/3/16|     Bob|11964.0|    1|  3|  16|
| 1/4/16|     Bob|15834.0|    1|  4|  16|
| 1/5/16|     Bob|15674.0|    1|  5|  16|
| 1/6/16|     Bob| 3488.0|    1|  6|  16|
| 1/7/16|     Bob| 1836.0|    1|  7|  16|
| 1/8/16|     Bob|19726.0|    1|  8|  16|
| 1/9/16|     Bob|16674.0|    1|  9|  16|
|1/10/16|     Bob|15086.0|    1| 10|  16|
|1/11/16|     Bob| 2106.0|    1| 11|  16|
|1/12/16|     Bob| 8724.0|    1| 12|  16|
|1/13/16|     Bob|13624.0|    1| 13|  16|
|1/14/16|     Bob|18094.0|    1| 14|  16|
|1/15/16|     Bob| 7188.0|    1| 15|  16|
|1/16/16|     Bob|19600.0|    1| 16|  16|
|1/17/16|     Bob|14430.0|    1| 17|  16|
|1/18/16|     Bob|15488.0|    1| 18|  16|
|1/19/16|     Bob|19120.0|    1| 19|  16|
|1/20/16|     Bob|19726.0|    1| 20|  16|
+-------+--------+-------+-----+---+----+
only showing top 20 rows

In [99]:
#add column to an existing dataframe with random column
from pyspark.sql.functions import rand,when
df_new= df1.withColumn('New_Col', when(rand() > 0.5, 5).otherwise(1))
df_new.show(100)

+-------+--------+-------+-----+---+----+-------+
|   Date|Salesman|Revenue|Month|Day|Year|New_Col|
+-------+--------+-------+-----+---+----+-------+
| 1/1/16|     Bob|   7172|    1|  1|  16|      5|
| 1/2/16|     Bob|   6362|    1|  2|  16|      1|
| 1/3/16|     Bob|   5982|    1|  3|  16|      1|
| 1/4/16|     Bob|   7917|    1|  4|  16|      5|
| 1/5/16|     Bob|   7837|    1|  5|  16|      1|
| 1/6/16|     Bob|   1744|    1|  6|  16|      1|
| 1/7/16|     Bob|    918|    1|  7|  16|      1|
| 1/8/16|     Bob|   9863|    1|  8|  16|      5|
| 1/9/16|     Bob|   8337|    1|  9|  16|      1|
|1/10/16|     Bob|   7543|    1| 10|  16|      5|
|1/11/16|     Bob|   1053|    1| 11|  16|      5|
|1/12/16|     Bob|   4362|    1| 12|  16|      1|
|1/13/16|     Bob|   6812|    1| 13|  16|      1|
|1/14/16|     Bob|   9047|    1| 14|  16|      5|
|1/15/16|     Bob|   3594|    1| 15|  16|      5|
|1/16/16|     Bob|   9800|    1| 16|  16|      1|
|1/17/16|     Bob|   7215|    1| 17|  16|      1|
|1/18/16|     Bob|   7744|    1| 18|  16|      1|
|1/19/16|     Bob|   9560|    1| 19|  16|      1|
|1/20/16|     Bob|   9863|    1| 20|  16|      1|
|1/21/16|     Bob|    547|    1| 21|  16|      1|
|1/22/16|     Bob|   3505|    1| 22|  16|      5|
|1/23/16|     Bob|   6969|    1| 23|  16|      1|
|1/24/16|     Bob|    696|    1| 24|  16|      1|
|1/25/16|     Bob|   4302|    1| 25|  16|      1|
|1/26/16|     Bob|   9427|    1| 26|  16|      5|
|1/27/16|     Bob|   7990|    1| 27|  16|      5|
|1/28/16|     Bob|   6271|    1| 28|  16|      5|
|1/29/16|     Bob|   5804|    1| 29|  16|      5|
|1/30/16|     Bob|   3285|    1| 30|  16|      5|
|1/31/16|     Bob|   2920|    1| 31|  16|      5|
| 2/1/16|     Bob|   6151|    2|  1|  16|      5|
| 2/2/16|     Bob|   3696|    2|  2|  16|      5|
| 2/3/16|     Bob|   2507|    2|  3|  16|      5|
| 2/4/16|     Bob|   1361|    2|  4|  16|      1|
| 2/5/16|     Bob|   8431|    2|  5|  16|      5|
| 2/6/16|     Bob|   3250|    2|  6|  16|      1|
| 2/7/16|     Bob|   2470|    2|  7|  16|      5|
| 2/8/16|     Bob|   4499|    2|  8|  16|      5|
| 2/9/16|     Bob|   5426|    2|  9|  16|      5|
|2/10/16|     Bob|    136|    2| 10|  16|      5|
|2/11/16|     Bob|   7769|    2| 11|  16|      1|
|2/12/16|     Bob|   8473|    2| 12|  16|      1|
|2/13/16|     Bob|   7430|    2| 13|  16|      1|
|2/14/16|     Bob|   7739|    2| 14|  16|      1|
|2/15/16|     Bob|    641|    2| 15|  16|      1|
|2/16/16|     Bob|   1225|    2| 16|  16|      1|
|2/17/16|     Bob|   8143|    2| 17|  16|      1|
|2/18/16|     Bob|   3963|    2| 18|  16|      5|
|2/19/16|     Bob|   4278|    2| 19|  16|      1|
|2/20/16|     Bob|    942|    2| 20|  16|      5|
|2/21/16|     Bob|   9414|    2| 21|  16|      5|
|2/22/16|     Bob|   4491|    2| 22|  16|      5|
|2/23/16|     Bob|   9325|    2| 23|  16|      5|
|2/24/16|     Bob|   6529|    2| 24|  16|      1|
|2/25/16|     Bob|   1781|    2| 25|  16|      1|
|2/26/16|     Bob|   7257|    2| 26|  16|      1|
|2/27/16|     Bob|   9288|    2| 27|  16|      1|
|2/28/16|     Bob|   6187|    2| 28|  16|      5|
|2/29/16|     Bob|   8429|    2| 29|  16|      5|
| 3/1/16|     Bob|   4144|    3|  1|  16|      5|
| 3/2/16|     Bob|   3589|    3|  2|  16|      5|
| 3/3/16|     Bob|   3517|    3|  3|  16|      5|
| 3/4/16|     Bob|   1365|    3|  4|  16|      1|
| 3/5/16|     Bob|   6674|    3|  5|  16|      1|
| 3/6/16|     Bob|   3248|    3|  6|  16|      1|
| 3/7/16|     Bob|   4592|    3|  7|  16|      1|
| 3/8/16|     Bob|   2178|    3|  8|  16|      1|
| 3/9/16|     Bob|   5049|    3|  9|  16|      5|
|3/10/16|     Bob|   2242|    3| 10|  16|      5|
|3/11/16|     Bob|   6916|    3| 11|  16|      5|
|3/12/16|     Bob|   4404|    3| 12|  16|      1|
|3/13/16|     Bob|   4089|    3| 13|  16|      5|
|3/14/16|     Bob|   3159|    3| 14|  16|      5|
|3/15/16|     Bob|   3144|    3| 15|  16|      1|
|3/16/16|     Bob|   1490|    3| 16|  16|      5|
|3/17/16|     Bob|    571|    3| 17|  16|      5|
|3/18/16|     Bob|   4618|    3| 18|  16|      5|
|3/19/16|     Bob|    715|    3| 19|  16|      5|
|3/20/16|     Bob|   4780|    3| 20|  16|      1|
|3/21/16|     Bob|    423|    3| 21|  16|      5|
|3/22/16|     Bob|   4277|    3| 22|  16|      5|
|3/23/16|     Bob|   6659|    3| 23|  16|      1|
|3/24/16|     Bob|   8570|    3| 24|  16|      5|
|3/25/16|     Bob|   7767|    3| 25|  16|      5|
|3/26/16|     Bob|   5386|    3| 26|  16|      5|
|3/27/16|     Bob|   1971|    3| 27|  16|      5|
|3/28/16|     Bob|   9847|    3| 28|  16|      1|
|3/29/16|     Bob|   5989|    3| 29|  16|      1|
|3/30/16|     Bob|   9999|    3| 30|  16|      5|
|3/31/16|     Bob|    697|    3| 31|  16|      1|
| 4/1/16|     Bob|   1678|    4|  1|  16|      1|
| 4/2/16|     Bob|   9491|    4|  2|  16|      1|
| 4/3/16|     Bob|   4252|    4|  3|  16|      1|
| 4/4/16|     Bob|   6883|    4|  4|  16|      1|
| 4/5/16|     Bob|   6528|    4|  5|  16|      1|
| 4/6/16|     Bob|   2174|    4|  6|  16|      5|
| 4/7/16|     Bob|   4164|    4|  7|  16|      5|
| 4/8/16|     Bob|   7706|    4|  8|  16|      5|
| 4/9/16|     Bob|   1882|    4|  9|  16|      1|
+-------+--------+-------+-----+---+----+-------+
only showing top 100 rows